h1 {
    margin: 0;
    font-size: 5vw;
}
h2 {
    font-size: 3vw;
}
body{
    margin:0;
    text-align: center;
    font-size: 2vw;
}

#content {
    padding:20px;

}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vw;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#jumpto {
  margin: 5% 0;
}

#rules {
  margin-bottom: : 10%;
}

table, tr, th, td {
    border:1px solid black;
    border-collapse:collapse;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
}
th {
    width:14.2%;
}
#main_title {
    font-size: 9vw;
}
img {
    width: 75%;
    min-width: 500px;
    max-width: 900px;
    margin-bottom: 10%;
}
#quote {
    color:dodgerblue;
    font-size:3vw;
    margin-bottom: 10%;
}
ol {
    list-style-position: inside;
}
#goals {
    background-image: url("goals_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    border: 1px solid;
}
#current_goals {
    padding-top: 80px;
}
button {
    padding: 10px;
    margin:30px;
    font-size: 3vw;
    width: 20%;
    height: 5%;
}
.schedule {
    margin-top: 30px;
    margin-bottom:30px;
    font-size:2vw;
    overflow-x:auto;
}
table {
    width:100%;
    margin-bottom: 10%;
    min-width: 500px;
    max-width:1200px;
}
caption {
    background-color: #80bfff;
    border:1px solid;
    border-collapse:collapse;
}
#work_schedule {
    padding:5px;
    margin: 0px;
    margin-bottom:-10px;
}
.purple_table_header {
    background-color:#ffccff;
}
.work_time {
    background-color:#ff8080;
}
.break_time {
    background-color:#d6f5f5;
}
.empty_time {
    background-color:#cccccc;
}
.job_time {
    background-color:#ffff99;
}
#links {
    display:block;
    margin-top:auto;
    padding-top:20px;
}
